# Copyright (c) 2018 Xvezda <https://xvezda.com>

global !p
HEADER_NAME = '_' + fn.split('.')[0].upper() + '_'
endglobal

snippet once "include header once" b
#ifndef $1`!p snip.rv = HEADER_NAME`
#define $1`!p snip.rv = HEADER_NAME`

${VISUAL}$0

#endif  // $1`!p snip.rv = HEADER_NAME`
endsnippet

snippet main "main function" b
int main(int argc, char **argv) {
	$0

	return 0;
}
endsnippet


# vim:ft=snippets
