# Copyright (c) 2018 Xvezda <https://xvezda.com>

snippet html "html5 default template"
<!doctype html>
<html lang="${3:ko}">
	<head>
		<meta charset="utf-8">
		<title>$1</title>$4
	</head>
	<body>
		$2$5
	</body>
</html>
endsnippet


# vim:ft=snippets
