# Copyright (c) 2018 Xvezda <https://xvezda.com>

snippet module "javascript module" b
var ${1:name} = (function() {
	function $1() {}$0
	return $1;
})();

module.exports = $1;
endsnippet

snippet ctor "javascript ES6 class constructor"
constructor($3) {
	${1:super($2)}$0
}
endsnippet

snippet try "javascript try-catch statement"
try {
	${VISUAL}$1
} catch (${3:e}) {$2}
endsnippet


# vim:ft=snippets
