# Copyright (c) 2018 Xvezda <https://xvezda.com>

snippet module "javascript module" b
var ${1:name} = (function() {
	function $1() {}
	$0
	return $1;
})();

module.exports = $1;
endsnippet


# vim:ft=snippets
