# Copyright (c) 2018 Xvezda <https://xvezda.com>

snippet #! "shebang header" b
#!/usr/bin/env python
# -*- coding: utf-8 -*-
$0
endsnippet

snippet future "make python version compatible" b
from __future__ import absolute_import
from __future__ import division
from __future__ import print_function
from __future__ import unicode_literals
$0
endsnippet

snippet docs "make doc string tripple quotes"
"""$0"""
endsnippet


# vim:ft=snippets:
