# Copyright (c) 2018 Xvezda <https://xvezda.com>


snippet #! "shebang header"
#!/usr/bin/env python
# -*- coding: utf-8 -*-
$0
endsnippet

snippet py23 "make python version compatible"
from __future__ import absolute_import
from __future__ import division
from __future__ import print_function
from __future__ import unicode_literals
$0
endsnippet

snippet main "define main if file execute directly"
def main($4):
	$1


if __name__ == '__main__':
	${3:main($2)}
endsnippet


# vim:ft=snippets:
