# Copyright (C) 2020 Xvezda <xvezda@naver.com>


snippet trap
trap ${1:-} ${2:HUP INT QUIT TERM}
endsnippet

snippet ifmain "python if main statement equivalent in bash" b
if [[ "\$0" == "\$BASH_SOURCE" ]]; then
	$1
fi
endsnippet

# vim:ft=snippets
